.scrollbar-container.ps {
background-color: #17202e;
}

.MuiBox-root, .css-rs0zx6{
    background-color: white!important;
    
}

.css-kvip5o-MuiToolbar-root{
    height: "20px"!important;
}
.css-o4begf-MuiAvatar-root {
    background-color: black;

}

.MuiListItemButton-gutters {
    color: white;
}

.css-9xt4ef-MuiPaper-root-MuiAppBar-root{
    background-color: white!important;
}


.css-3mzzxb-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    background-color: transparent!important;
    color: #1b67de;
    border-radius: 0%;
    

}

.css-3mzzxb-MuiButtonBase-root-MuiListItemButton-root.Mui-hover {
    background-color: #2f3640!important;
    color: white;

}


.icon-tabler{
    color: white;
}

.icon-tabler-selected{
    color: #1b67de!important;
}

.css-rs0zx6 {
    background-color: black;
}

.css-kvip5o-MuiToolbar-root{
    background-color: transparent!important;
}

.css-1okj3ks-MuiStack-root.Mui-selected
{
    background-color: red;
}


.MuiButtonGroup-contained.Mui-selected{
    background-color: red;
}